<div class="audio-row">
    <span class="audio-cell audio-cell-hn">
        <span class="audio-icon"></span>
        HN <kbd>{{hn}}</kbd>
    </span>
    <span class="audio-cell audio-cell-sg">
        <span class="audio-icon"></span>
        SG <kbd>{{sg}}</kbd>
    </span>
</div>