.vscode
.wrangler
.npm
.DS_Store
todo.md
devops.md
make_icons.sh
/dict/
/icon-src/
extension/handlebars.runtime-25c696b.js
extension/img/
extension/data/
shared/*.min.js
web/audio/
web/img/*.xcf
node_modules/
/package-lock.json
web/public/data/
web/public/img/
web/public/md/