.vscode
.wrangler
.npm
.DS_Store
todo.md
devops.md
/dict/
extension/dist
extension/src/js/handlebars.min.js
web/audio/
web/img/icon-src
web/img/*.xcf
node_modules/
/package-lock.json
web/public/data/
web/public/img/
web/public/md/